.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;
  gap: 40px;
}

.headerName {
  font-size: 6rem;
  letter-spacing: 4px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #62e6e4bd 10%,
    #6a83e7b2 40%,
    #ff6ec59e 70%,
    #fffde48a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: radiance-glow 10s ease-in-out infinite alternate;
}

@keyframes radiance-glow {
  5% {
    filter: drop-shadow(0 0 5px #62e6e49d) drop-shadow(0 0 10px #849bfa);
  }
  30% {
    filter: drop-shadow(0 0 10px #ff6ec583) drop-shadow(0 0 20px #fffde4);
  }
  80% {
    filter: drop-shadow( 0 5px #62e6e46b) drop-shadow(0 0 15px #849bfa);
  }
}

.statusName {
  font-size: 2rem;
  font-weight: 400;
  color: #d4c7b0;
}

.introPara {
  max-width: 600px;
  margin: 1rem 0 3rem 0;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #e0e0e0;
}

.introImage {
  max-width: 600px;
}

.readMoreBtn {
  background-color: #000000;
  color: rgb(198, 198, 198);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 9rem;
  transition: opacity 0.3s ease;
  box-shadow: 0 1.5px 8px rgba(222, 174, 213, 0.701); 
}

.readMoreBtn:hover {
  background-color: #524a41;
}

/* 2500px+ screens */
@media (min-width: 2100px) {
  .intro {
    padding: 0 10%;
    gap: 50px;
  }
  .headerName {
    font-size: 8rem;
  }
  .statusName {
    font-size: 3rem;
  }
  .introPara {
    font-size: 2rem;
    max-width: 800px;
    margin-bottom: 6rem;
  }
  .introImage {
    max-width: 1000px;
  }
  .readMoreBtn {
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
  }
}