.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  position: end;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 40px rgba(140, 206, 209, 0.655);
  border-radius: 1rem 1rem 0 0;
  padding: 0 20px;
}

.footerText {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
  background: linear-gradient(90deg, #62e6e4 10%, #6a83e7 40%, #ff6ec4 70%, #fffde4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: radiance-glow 4s ease-in-out infinite alternate;
}

@keyframes radiance-glow {
  0% {
    filter: drop-shadow(0 0 8px #62e6e4) drop-shadow(0 0 15px #849bfa);
  }
  50% {
    filter: drop-shadow(0 0 16px #ff6ec4) drop-shadow(0 0 24px #fffde4);
  }
  100% {
    filter: drop-shadow(0 0 8px #62e6e4) drop-shadow(0 0 15px #849bfa);
  }
}
