.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f9;
  position: end;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 2px 40px ;
  border-radius: 1rem 1rem 0 0;
  padding: 0 20px;
}

.footerText {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ff0000;
  margin: 0;
}

@keyframes radiance-glow {
  0% {
    filter: drop-shadow(0 0 8px #62e6e4) drop-shadow(0 0 15px #849bfa);
  }
  50% {
    filter: drop-shadow(0 0 16px #ff6ec4) drop-shadow(0 0 24px #fffde4);
  }
  100% {
    filter: drop-shadow(0 0 8px #62e6e4) drop-shadow(0 0 15px #849bfa);
  }
}
